@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=League+Spartan:wght@400;700;800&family=Work+Sans:wght@400;700;800&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.app-nav-bar {
  width: 50%;
  height: 55%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.nav-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gen-tn {
  margin-bottom: 5px;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 20%;
  width: 100%;
}

.nav-buttons button {
  margin-right: 10px;
}

.nav-form {
  display: flex;
  flex-direction: column;
  justify-content: top;
  height: 80%;
  width: 100%;
}

.nav-form input {
  width: 100%;
}

.nav-form button {
  width: 100%;
}

.app-preview {
  width: 100%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 883px;
  width: 100%;
  height: 75%;
  min-height: 170px;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #282c34;
  padding: 10px 20px;
  color: #ffff;
  border: 2px solid aqua;
}

.card-username {
  margin: 0;
  padding: 0;
  color: aqua;
}

.card-av {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-details {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.card img {
  border-radius: 50%;
  width: 50%;
  height: 50%;
}

.card h2 {
  margin: 0;
  font-size: 2rem;
  padding: 0;
  font-weight: 800;
  letter-spacing: -0.05em;
}

p {
  font-size: 1rem;
  letter-spacing: -0.05em;
}

.about {
  margin-top: 5px;
  color: aqua;
  font-size: 1rem;
}

.name {
  color: aqua;
  margin-right: 2px;
  letter-spacing: -0.05em;
  font-weight: 600;
}

.footer {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #BEB2C8;
}

.footer.last {
  margin-bottom: 5px;
}

.footer a {
  color: #61dafb;
  cursor: pointer;
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .card {
    width: 70%;
    height: 40%;
    min-height: auto;
  }

  p, .about {
    font-size: 1rem;
  }

  .card h2 {
    font-size: 1.3rem;
  }

  .card img {
    border-radius: 50%;
    width: 50%;
    height: 50%;
  }
}

@media screen and (max-width: 600px) and (min-width: 480px) {
  .card {
    width: 70%;
    height: 20vh;
    min-height: auto;
  }

  p, .about {
    font-size: 0.7rem;
  }

  .card h2 {
    font-size: 1rem;
  }

  .card img {
    border-radius: 50%;
    width: 60%;
    height: 60%;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 70%;
    height: 8vh;
    min-height: auto;
  }

  .card-av {
    width: 40%;
  }

  .card-details {
    width: 60%;
  }

  .card img {
    border-radius: 50%;
    width: 60%;
    height: 60%;
  }

  p, .about {
    font-size: 0.5rem;
  }

  .card h2 {
    font-size: 0.8rem;
  }
  .app-nav-bar {
    width: 65%;
  }
}
  
